.user {
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 10px solid rgb(40, 40, 58);
    padding: 20px;
    margin: 10px;
    background-color: rgb(135, 202, 224);
    box-shadow: 5px 10px #888888;
}