<div class="user" [appChangeBackgroundColor]="index">
    <p>
        <span>Name: </span>
        <span>{{user.name | nameToUppercase | appendWordPipe :"dear"}}</span>
    </p>
    <p [appFirstDirective]="'blue'">
        <span>Phone: </span>
        <span>{{user.phone}}</span>
    </p>
    <p [appFirstDirective]="'green'" [backgroundColor]="'rgb(40, 40, 58)'">
        <span>Email: </span>
        <span>{{user.email}}</span>
    </p>
    <!-- <p>
        {{ user | json }} // pipe do pliku json
    </p> -->
    
    
    <button (click)="onDeleteButtonClick()">Delete me</button>
</div>
